#tag-result {
    margin-bottom:20px;
    height:60px;
}

.selected-tag {
    box-sizing: border-box;
    align-items: baseline;
    align-items:center;
    padding: 20px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    height: 45px;
    color: rgba(255,255,255,0.95);
    cursor: pointer;
    z-index: 1000;
    font-size:16px;
}

.selected-tag img {
    margin-left:5px;

}

.ingredient {
    background-color: #3282F7;
}

.appliance {
    background-color: #68D9A4;
}

.ustensil {
    background-color: #ED6454;
}